spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/minibank
    username: minibank
    password: 123456

  jpa:
    hibernate:
      ddl-auto: none

  flyway:
    enabled: true
    baseline-on-migrate: true
    database: postgresql
